/PropertyCross/nbproject/private/
/ClockDemo/dist/
/FacebookDemo/nbproject/private/
/FacebookDemo/build/
/FacebookDemo/dist/
/SQLSample/nbproject/private/
/SQLSample/build/
/SQLSample/dist/
/ChartsDemo/build/
/ChartsDemo/dist/
/GeoVizDemo/dist/
/GeoVizDemo/build/